streamlit==1.5.1
camelot==13.04.13-gpl-pyqt
camelot_py==0.9.0
fitz==0.0.1.dev2
PyMuPDF==1.19.6
nltk==3.7
numpy==1.22.3
opencv_python==4.5.5.64
openpyxl==3.0.9
pandas==1.4.2
pdfplumber==0.6.1
pikepdf==5.1.2
Pillow==9.1.0
PyPDF2==1.27.12
setuptools==61.2.0
spacy==3.2.4
streamlit==1.8.1
tabula==1.0.5
tabula_py==2.3.0
tensorflow==2.8.0
torch==1.11.0
transformers==4.17.0
